
%h1
  = t '.title'

#flow
  %canvas#fluo{ :width => 200, :height => 200 }

%pre#definition #{@definition.definition}

.buttons
  = link_to t('.back'), :action => :index
  = button_to t('.launch'), processes_path(:definition => @definition.id)


:javascript

  document.getElementById('fluo').noOuterBorder = true;
  
  Fluo.renderFlow('fluo', #{@definition.tree_json})
  Fluo.crop('fluo');

