
%html

  %head

    %meta( http-equiv="Content-Type" content="text/html; charset=UTF-8" )

    %title ruote-on-rails

    %link( href='/images/favicon.png' type='image/png' rel='icon' )
    %link{ :href => '/stylesheets/reset.css', :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => '/stylesheets/ruote-on-rails.css', :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => '/stylesheets/ruote-fluo-editor.css', :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => '/stylesheets/quaderno.css', :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => '/stylesheets/jagaimo.css', :type => 'text/css', :rel => 'stylesheet' }

    /[if !IE7]
      :css
        .container { display: table; height: 100%; }

    %script{ :src => '/javascripts/jquery-1.4.3.min.js' }
    %script{ :src => '/_ruote/javascripts/ruote-fluo.js' }
    %script{ :src => '/_ruote/javascripts/ruote-fluo-editor.js' }
    %script{ :src => '/javascripts/quaderno.js' }
    %script{ :src => '/javascripts/jagaimo.js' }

  %body

    .container

      .header
        %a.home{ :href => '/' }
          %img{ :src => '/images/ruote.png', :alt => 'ruote-on-rails' }
          
      - if session[:username]
        %a.button.user{ :href => '/logout' } #{t('.logout')} #{session[:username]}
        .nav
          %ul
            %li
              = link_to t('.workitems'), workitems_path
            %li
              = link_to t('.processes'), processes_path
            %li
              = link_to t('.forms'), forms_path
            %li
              = link_to t('.definitions'), definitions_path
            - if User.admin?(session[:username])
              %li
                = link_to t('.ruote'), '/_ruote'

      = render :partial => 'shared/flash'

      .main_content
        = yield :layout

    .footer
      %p
        powered by
        %a{ :href => 'http://ruote.rubyforge.org' }
          ruote
        and
        %a{ :href => 'http://github.com/tosch/ruote-kit' }
          ruote-kit

